<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
    <%= label_tag "user_name" %>
    <%= f.text_field :name %>
    <%= label_tag "user_email" %>    
	<%= f.text_field :email %>
    <%= label_tag "user_login" %>
    <%= f.text_field :login %>
    <%= f.submit %>
</div>
<% end %>
