<div data-role="header" data-theme="b">
	<h1>User</h1>
	<a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
</div><!-- /header -->

	
<div data-role="content">
  <ul data-role="listview">
 <li>
  <b>Name:</b>
  <%= @user.name %>
</li>

<li>
  <b>Email:</b>
  <%= @user.email %>
</li>

<li>
  <b>Login:</b>
  <%= @user.login %>
</li>
</ul>
</div>


<div data-role="footer" class="ui-bar" data-theme="b">
<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>
</div>
