
<%= form_for(@eatvent) do |f| %>
  <% if @eatvent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eatvent.errors.count, "error") %> prohibited this eatvent from being saved:</h2>

      <ul>
      <% @eatvent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
		<legend>Creator:</legend>
		<div data-role="fieldcontain" style="position:relative; left:22%">
			<% User.all.each do |user| %>	
			<%=	radio_button_tag 'eatvent[creator]', user.name %>    
			<%= label_tag ("eatvent_creator_"+user.name), user.name %>
			<% end %>  
		</div>
	</fieldset>
	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup" data-type="horizontal" >
		  <legend>Day:</legend>   
    	  <%= f.date_select :day %>
		</fieldset>
  	</div>
	<div data-role="fieldcontain">
	  <fieldset data-role="controlgroup" data-type="horizontal" >
	   	<legend>Hour:</legend>
	    <%= f.time_select :hour %>
	  </fieldset>
  	</div>

	<div class="ui-grid-a">
		<div class="ui-block-a">
	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup" data-type="horizontal">
	    	<legend>Name:</legend>  
			<div  style="position:relative; left:37%">
			<%=select_tag 'eatvent[where]',options_for_select(Place.find(:all).collect{|p| [p.name]}) %>    
			</div>
		</fieldset>
	</div>
	</div>

		<div class="ui-block-b">	
	<div data-role="button" data-icon="plus"   style="position:relative; left:-10%; down:-50%">
		
		<%= link_to 'New Place', newplace_path %>  

	</div>	</div>	</div>
	<br/>

	<legend>People:</legend>	
	<% User.all.each do |user| %>	
	<div data-role="fieldcontain">
	 	<fieldset data-role="controlgroup"  style="width:20%; position:relative; left:22%" >
			<%=		check_box_tag 'eatvent[people][]', user.name %>    
			<%=label_tag ("eatvent_people_"), user.name %>
	    </fieldset>
	</div>
	<% end %>
  	
    <%= f.submit %>
  	
<% end %>
