<div data-role="header" data-theme="b">
	<h1>Eatvents</h1>
	<a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
</div><!-- /header -->



<table width="100%">
  <tr>
    <th>Creator</th>
    <th>Day</th>
    <th>Hour</th>
    <th>People</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eatvents.each do |eatvent| %>
  <tr>
    <td><%= eatvent.creator %></td>
    <td><%= eatvent.day %></td>
    <td><%= eatvent.hour %></td>
    <td><%= eatvent.people %></td>
    <td><%= link_to 'Show', eatvent %></td>
    <td><%= link_to 'Edit', edit_eatvent_path(eatvent) %></td>
    <td><%= link_to 'Destroy', eatvent, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div data-role="footer" class="ui-bar" data-theme="b">
<%= link_to 'New Eatvent', new_eatvent_path %>
</div>
