<div data-role="header" data-theme="b">
	<h1>Eatvent: <%= @eatvent.hour %> @ <%= @eatvent.where %>  </h1>
	<a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
</div><!-- /header -->

<p id="notice"><%= notice %></p>

<p>
  <b>Creator:</b>
  <%= @eatvent.creator %>
</p>

<p>
  <b>Day:</b>
  <%= @eatvent.day %>
</p>

<p>
  <b>Hour:</b>
  <%= @eatvent.hour %>
</p>

<p>
  <b>Where:</b>
  <%= @eatvent.where %>
</p>

<p>
  <b>People:</b>
  <%= @eatvent.people %>
</p>

<!-- Hidden field for Google Maps Address  -->

<% mapAddress = (Place.where(:name => @eatvent.where).first.address).chomp + " " +Place.where(:name => @eatvent.where).first.name %>
<span id="MapAddress" value='<%= mapAddress %>' ></span>


<script type="text/javascript">


  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    
	var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  	 var address = $('#MapAddress').attr("value") + " san francisco"
	    geocoder.geocode( { 'address': address}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        map.setCenter(results[0].geometry.location);
		  marker = new google.maps.Marker({
		    map:map,
		    animation: google.maps.Animation.DROP,
		    position: results[0].geometry.location
		  });
		
	      } else {
	        alert("Geocode was not successful for the following reason: " + status);
	      }
	    });
	}



</script>

<body onload='initialize()'>	<div id='map_canvas' style='width: 400px; height: 300px; ' ></div> </body>


<div data-role="footer" class="ui-bar" data-theme="b">
<%= link_to 'Edit', edit_eatvent_path(@eatvent) %> 
<%= link_to 'Back', eatvents_path %>
</div>
