<div data-role="header" data-theme="b">
	<h1>Eatvent</h1>
	<a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
</div><!-- /header -->

<p id="notice"><%= notice %></p>

<p>
  <b>Creator:</b>
  <%= @eatvent.creator %>
</p>

<p>
  <b>Day:</b>
  <%= @eatvent.day %>
</p>

<p>
  <b>Hour:</b>
  <%= @eatvent.hour %>
</p>

<p>
  <b>Where:</b>
  <%= @eatvent.where %>
</p>

<p>
  <b>People:</b>
  <%= @eatvent.people %>
</p>

<div data-role="footer" class="ui-bar" data-theme="b">
<%= link_to 'Edit', edit_eatvent_path(@eatvent) %> 
<%= link_to 'Back', eatvents_path %>
</div>
