<div data-role="header" data-theme="b">
	<h1><%= @place.name %></h1>
	<a href="../../" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
</div><!-- /header -->


<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>
<p>
  <b>Address:</b>
  <%= @place.address %>
</p>
<p>
  <b>Website:</b>
  <%= @place.website %>
</p>
<p>
  <b>Tel:</b>
  <%= @place.tel %>
</p>

 
<!-- Hidden field for Google Maps Address  -->

<% mapAddress = (@place.address).chomp + " " + (@place.name) %>
<span id="MapAddress" value='<%= mapAddress %>' ></span>
 
<script type="text/javascript">


  var geocoder;
  var map;
  	
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    
	var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  	 var address = $('#MapAddress').attr("value") + " san francisco"
	    geocoder.geocode( { 'address': address}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        map.setCenter(results[0].geometry.location);
		  marker = new google.maps.Marker({
		    map:map,
		    animation: google.maps.Animation.DROP,
		    position: results[0].geometry.location
		  });
		
	      } else {
	        alert("Geocode was not successful for the following reason: " + status);
	      }
	    });

</script>

<div id='map_canvas' style='width: 400px; height: 300px; ' ></div> 


<div data-role="footer" class="ui-bar" data-theme="b">
	<%= link_to 'Edit', edit_place_path(@place) %> 
	<%= link_to 'Back to places', places_path %>
	<%= link_to 'Back to Create Eatvent', neweatvent_path %>
</div>

